nav{
  backdrop-filter: blur(40px);
  box-shadow: 0 0 30px rgba(227,228,237,0.37);
  border: 2px solid rgba(255,255,255,0.18);
}

.nav-item a:hover{
  transform: translateX(10px);
}

@media (min-width: 500px){
  .nav-item a:hover{
    transform: scale(1.3);
  }
}
