<footer class="text-center text-lg-start text-white">
  <!-- Grid container -->
  <div class="container pt-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-black">

        <div class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 150px; height: 150px;">
          <img class="rounded-circle" src="img/website_owner_footer.png" height="150" alt=""
               loading="lazy" />
        </div>
        <p class="text-center">Léa COLLMANN<br/>Concièrge immobilières</p>
        <ul class="list-unstyled d-flex flex-row justify-content-center">
          <li>
            <a class="text-black px-2" href="https://www.facebook.com/le.canape.de.la.marmotte">
              <i class="fab fa-facebook-square"></i>
            </a>
          </li>
          <li>
            <a class="text-black px-2" href="https://www.instagram.com/conciergeriecanapemarmotte/">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li>
            <a class="text-black ps-2" href="https://www.linkedin.com/in/l%C3%A9a-collmann/">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
        </ul>


      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-black">
        <h5 class="text-uppercase mb-4">Contact</h5>

        <ul class="list-unstyled">
          <li>
            <p><i class="fas fa-map-marker-alt pe-2"></i>9, rue principale<br/>67350 Val-de-Moder</p>
          </li>
          <li>
            <p><i class="fas fa-phone pe-2"></i><a class="text-black" href="tel:+33680806717">06.80.80.67.17</a> </p>
          </li>
          <li>
            <p><i class="fas fa-envelope pe-2 mb-0"></i><a class="text-black" href="mailto:lcollman@le-canape-de-la-marmotte.fr">lcollman&commat;le-canape-de-la-marmotte.fr</a></p>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-black">
        <h5 class="text-uppercase mb-4 text-black">Animals</h5>

        <ul class="list-unstyled">
          <li class="mb-2">
            <a href="#!" class="text-black"><i class="fas fa-paw pe-3"></i>When your pet is missing</a>
          </li>
          <li class="mb-2">
            <a href="#!" class="text-black"><i class="fas fa-paw pe-3"></i>Recently found</a>
          </li>
          <li class="mb-2">
            <a href="#!" class="text-black"><i class="fas fa-paw pe-3"></i>How to adopt?</a>
          </li>
          <li class="mb-2">
            <a href="#!" class="text-black"><i class="fas fa-paw pe-3"></i>Pets for adoption</a>
          </li>
          <li class="mb-2">
            <a href="#!" class="text-black"><i class="fas fa-paw pe-3"></i>Material gifts</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4 text-black">Animals</h5>

        <ul class="list-unstyled">
          <li class="mb-2">
            <a href="#!" class="text-black"><i class="fas fa-paw pe-3"></i>General information</a>
          </li>
          <li class="mb-2">
            <a href="#!" class="text-black"><i class="fas fa-paw pe-3"></i>About the shelter</a>
          </li>
          <li class="mb-2">
            <a href="#!" class="text-black"><i class="fas fa-paw pe-3"></i>Statistic data</a>
          </li>
          <li class="mb-2">
            <a href="#!" class="text-black"><i class="fas fa-paw pe-3"></i>Job</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-1 m-2 text-black" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2025 Copyright:
    <span class="text-black">StrasWebNgine</span>
  </div>
  <!-- Copyright -->
</footer>
