/* src/app/app.component.scss */
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

router-outlet {
  position: relative;
  flex: 1;
}

app-header{
  position: sticky;
  max-height: 10dvh;
  width: 100dvw;
  top: 0;
}

app-footer{
  position: absolute;
  max-height: 20dvh;
  width: 100dvw;
  bottom: 0;
}

