/* src/app/app.component.scss */
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

router-outlet {
  flex: 1;
}

app-footer{
  bottom: 0;
}
