/* src/app/app.component.scss */
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

router-outlet {
  position: relative;
  flex: 1;
}

app-header{
  position: sticky;
  top: 0;
}

app-footer{
  max-height: 20dvh;
  width: 100dvw;
  bottom: 0;
}

#to-top{
  position: fixed;
  bottom: 10dvh;
  right: 3dvw;
  width: 40px;
  height: 40px;
  font-size: 30px;
  color: black;
  background-color: #bd2b2c;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: bottom 200ms, transform 200ms;
  transform: scale(0);
}

@media (min-width: 500px){
  #to-top:hover{
    bottom: 11dvh;
  }
}

#to-top.show{
  transform: scale(1);
}

